.social-icons__icon {
    filter: invert(100%);
  }

a,
a:visited,
a.active,
a.active:visited {
    color: orange;
    text-decoration: none;
}

.post__title,
a:hover,
a:visited:hover {
    transition: 1s;
    // color: #ff79c6;
    color: white;
}

.social-icons__icon:hover {
    filter: invert(25%);
}

span.handle {
    // color: #ffb86c;
    color: orange;
    filter: contrast(90%);
}